*.swp
*.*~
project.lock.json
*.pyc
nupkg/
packages/
packaging/

# compiled output
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
Properties/PublishProfiles
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
*.jfm
*.dbmdl
*.PublishSettings


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VS
.vs

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db